.input-block-ctn {
  display: flex;
  justify-content: center;

  width: 100%;
}

.main-input-ctn {
  display: flex;
  align-items: center;
  flex-direction: column;

  max-width: 350px;
  width: 75%;

  margin: 1rem;
}

.main-input-ctn label {
  width: 100%;
  margin-bottom: 1rem;

  font-size: 1.5rem;
  text-align: center;
}

.main-input-ctn input {
  width: 100%;
  padding: .25rem;

  border: none;
  border-bottom: 1px solid #000000;

  text-align: center;
}

.main-input-ctn input::placeholder {
  color: #BDBDBD;
}
