@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
  font-family: 'Roboto', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: hsla(0, 0%, 0%, 0.8);
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

body * {
  box-sizing: border-box;
}

button, input, optgroup, select, textarea {
  font: inherit;
  color: inherit;
  margin: 0;
}

footer {
  font-size: .75rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
