.index-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100%;

  transition: background-color 1s;
}

.index-ctn.positive {
  background-color: #C8E6C9;
}

.index-ctn.neutral {
  background-color: #FFF9C4;
}

.index-ctn.negative {
  background-color: #ffcdd2;
}

.sentiments-ctn {
  display: flex;
  align-items: flex-start;

  margin-top: 1rem;
  height: 12rem;
}
