@import url('https://fonts.googleapis.com/css?family=Bellota+Text:700&display=swap');

.index-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  min-height: 100vh;

  color: hsla(0, 0%, 0%, 0.8);

  transition: background-color 1s;
}

.index-ctn.positive {
  background-color: #C8E6C9;
}

.index-ctn.neutral {
  background-color: #FFF9C4;
}

.index-ctn.negative {
  background-color: #ffcdd2;
}

.index-title-block {
  margin: 2rem 0;
  width: 100%;
  text-align: center;
}

.index-title {
  font-family: 'Bellota Text', cursive;
  text-shadow: #9E9E9E 0 1px 4px;
  letter-spacing: 10px;
}

.index-subtitle {
  width: 100%;

  font-family: 'Bellota Text', cursive;
  font-size: 1rem;
  text-shadow: #9E9E9E 0 1px 4px;
  letter-spacing: 5px;
}

.sentiments-ctn {
  display: flex;
  align-items: flex-start;

  height: 12rem;
}
